/* header */
#brand-name span {
    color:#800080;
}

/* search input group */
#input-group {
    width: 54.5%;
}
#search-button {
    background-color: #800080;
    color: white;
}
#search-button:hover {
    background-color: #a853a8;
}

#phones-container .phone {
    border-radius: 25px;
}

/* spinner */
#spinner {
    display: none;
    color:#800080;
}

/* phones container / search results */
#phones-container .phone img {
    border-radius: 15px;
}

#phones-container .phone a {
    background-color: #800080;
}
#phones-container .phone a:hover {
    background-color: #a853a8;
}




/* responsive */

@media screen and (max-width: 576px) {
    #input-group {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    #input-group {
        width: 100%;
    }
}